NEXT_PUBLIC_FRONTEND_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:3000/api/v1
DB_URI=mongodb://localhost:27017/akuma-randoms

NEXT_PUBLIC_SERVICE=akuma-randoms
NEXT_PUBLIC_ENABLE_DEBUGGING=false
